.myevents-cardslist {
    justify-self: flex-start ;
    align-self: flex-start;
}

.myevents-eventform {
    justify-self: center;
    align-self: flex-start;

}



.myevents-title-h1 {
    justify-self: center;
    grid-area: myevents-title-h1;
    width: fit-content;
    white-space: nowrap;
    align-self: center;
    color: #5565DD;
    font-size: 24px;
    font-weight: bold;
    margin-top: 3vh;
    padding: 5px 10px;
    background-color: #e2f1ff;
    border: 1px solid #5565dd95;
    border-radius: 18px;
}