/* Public Section: -Welcome & -Events containers */
.public-Welcome-container,
.public-Events-container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 3vh;
}


/*_____________________*** Welcome Text Section ***______________________*/
/* Public Welcome_Section: (CHAKRA_UI Card) .Root */
.public-welcome-chakra_Card-Root {
  text-align: center;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 80px -25px,
    rgba(0, 0, 0, 0.3) 0px 30px 50px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 40px;
  border-color: #e6e6e6eb;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1vh;
}

/* Public Welcome_Section: (CHAKRA_UI Card) .Header-heading */
.public-welcome-chakra_Card-heading {
  font-size: 25px;
  color: black;
  font-weight: bold;
}

/* Public Welcome_Section: (CHAKRA_UI Card) .Body */
.public-welcome-chakra_Card-Body {
  color: black;
  padding: 13px;
}

/* Public Welcome_Section: Login-Register text style */
.public-link {
  text-decoration: underline;
  color: #1976d2;
  font-weight: 500;
  transition: color 0.2s;
}

/* Public Welcome_Section: Login-Register text style */
.public-link:hover {
  color: #0d47a1 !important;
  cursor: pointer;
}


/*_____________________*** Public Events Section ***______________________*/
/* Public Events_Section: (CHAKRA_UI Box) */
.public-events-chakra_Box {
  background: #f7f7f7;
  box-shadow: "0 4px 24px rgba(0,0,0,0.1)";
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  max-width: 70wv;

}

/* Public Events_Section: (CHAKRA_UI Box) <h2 style> */
.public-events-chakra_Box-title {
  color: black;
  font-size: 24px;
  font-weight: bold;
  border-radius: 18px;
  background-color: #e2f1ff;
  padding: 3px 6rem;
  margin-top: 3vh;
  display: inline-block;
  text-align: center;
  margin-bottom: 2vh;
}

/* Public Events_Section: (CHAKRA_UI Box) <CardsListComponent> */
.public-events-chakra_Box-list {
  margin-top: 1vh;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 
BOX SHADOW: Number #14 Custom:
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 10px 20px -10px, //0px.. vertical, horizontal-vertical, thickness
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; 
    
BOX SHADOW: Number #14 Original:
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
     rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
     rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
*/

/*  BOX SHADOW: Number 80 (i neshto) Custom
 box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 80px -25px,
    rgba(0, 0, 0, 0.3) 0px 30px 50px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

*/